<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<!--
// Name: blueberry
// Version: 1.2.1
// Author: Ingo Reimund
// Created: 2007-02-11
// Description:
//    This Skin is XHTML 1.1 and CSS 2.0 conform designed.
//
// History:
//     2007-02-11  ingo    Created.
-->

<html>
<head>

<title>$WikiTitle | $Group >> $Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!--HTMLHeader-->
<link rel="stylesheet" type="text/css" href="$SkinDirUrl/blueberry.css"/>

</head>
<body>

<div id="header"> <!-- header -->
   <div class="title">
      <img src="$PageLogoUrl" alt="$WikiTitle" />
   </div>
</div> <!-- /header -->

<div class="row borderbottom"><!-- pageActions top -->
   <div class="element left">
      <!--markup:[[{$DefaultGroup}/{$DefaultName}|Startpage]] >> [[{$Group}]] >> [[{$FullName}|{$Name}]]-->
   </div>
   <div class="right element">
      <!--wiki:Site.PageActions-->
   </div>
</div><!-- pageActions top -->

<div class="sidebar"> <!-- sidebar -->
   <!--wiki:$Group.SideBar $SiteGroup.SideBar-->
   <form class="search" action='$ScriptUrl/Site/SearchWiki'><!-- searchbox -->
      <div>
         <input type='hidden' name='action' value='search' />
         <input type='hidden' name='pagename' value='Site/SearchWiki' />
         <input class='searchbox' type='text' name='q' value='' /><br />
         <input type="submit" value="$[Search]" />
      </div>
   </form><!-- /searchbox -->
</div> <!-- /sidebar -->



<div class="content border-dashed"> <!-- content -->
   <div class="contentTitle">$Titlespaced</div>
   <!--PageText-->
   <div class="clear"></div>
</div> <!-- /content -->

<div class="row bordertop borderbottom"> <!-- pageActions bottom -->
   <div class="element left">$[Page last modified on $LastModified]</div>
   <div class="element right">
      <!--wiki:Site.PageActions-->
   </div>
</div> <!-- /pageActions bottom -->



</body>
</html>